
Pre-production/
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
.vs/
D-DHelper/D-DHelper/[Bb]in
D-DHelper/D-DHelper/[Dd]ebug
*.lib
*.sbr
D-DHelper/D-DHelper/obj
D-DHelper/D-DHelper/[Rr]elease
_ReSharper*/
[Tt]est[Rr]esult*
/packages
Thumbs.db
D-DHelper/D-DHelper/D-DHelper.csproj.user
D-DHelper/D-DHelper/D-DHelper.csproj
D-DHelper/D-DHelper.sln
D-DHelper/D-DHelper/App.config